html {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
/*    font-family: Segoe-ui !important;*/
    font-family: 'Montserrat', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
/*    font-family: Segoe-ui; */
    font-family: 'Montserrat', sans-serif;
   }
a{
    color: #333;
    text-decoration: none;
}
a:hover,a:active{
    color: #333;
    text-decoration: none;
}
@font-face {
    font-family: Segoe-ui;
    src: url('../fonts/Segoe UI.ttf');
}

@font-face {
    font-family: Segoe-UI-B;
    src: url('../fonts/Segoe UI Bold.ttf');
}
/*============================banner============================*/
section.banner1{
    background: url("images/Header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
} 
.signup-btn{
    background: #FD2557;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    color: #fff!important;
    border: none; 
}
/*
.login-btn:active,.login-btn:hover{
    background: #f72c2c;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    color: #fff!important;
    border: none; 
}
*/
 .login-btn{
        color:#fff !important;
        font-size: 12px;
}
.live-text{
    color:#FD2557;
    font-weight: 600;
}
.livepara{
    color: #fff;
    font-size: 13px;
}
.user-icon{
    color: #FD2557;
    font-size: 13px;
}
.position-class{
    position: absolute;
}
.border-class{
    border-bottom: 4px solid #fd2557;
}
.p-absolute{
    position: absolute;
}
/*===========================Carousel================================*/

/* .owl-one
{
    width: 90%;
    margin: 0 auto;
} */


.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled
{
    display: block;
}

.owl-one .owl-nav [class*=owl-] {
    color: #fd2557 !important;
    font-size: 20px;
    /* margin: 23px; */
    padding: 4px 7px;
    background-color: transparent !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    top: 26px !important;
    /* left: -86px; */
}

/* .owl-one .owl-nav .owl-next
{
    right: -86px;
}
.owl-one .owl-nav .owl-prev
{
    left: -86px;
} */



.owl-two .owl-nav [class*=owl-] {
    color: #FD2557 !important;
    font-size: 30px;
    margin: 5px;
    padding: 0px 20px;
     background: none!important; 
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    top: 4px;
}


/* for owl - two */
.owl-theme .owl-nav
{
    top: -25px;
}











.owl-prev
{
    position: absolute;
    top: 60px;
    left: 0;
}
.owl-next
{
    position: absolute;
    top: 60px;
    right: 0;
}


/* .owl-item.cloned.active.center .cara-item2
{
    border-bottom: 2px solid #FD2557;
}
.owl-item.cloned.active
{
    border-bottom: 2px solid green;
} */
/* .cara-img2:focus
{
    border-bottom: 2px solid #FD2557;
} */




.cara-item
{
    position: relative !important;
    height: 153px !important;   
    /* width: 240px !important; */
    box-shadow: -8px 8px 14px rgba(189, 189, 189, 0.7);
}

/* .cara-item a .video-imgs
{
    position: relative;
    height: 100% !important;
    width: 100% !important; 
}*/
/* .cara-time
{
    position: absolute;
    bottom: 4px;
    right: 5px;
    color: white;
    font-weight: 100;
    padding: 0px 6px;
    background: rgba(0, 0, 0, 0.329);
    font-size: 14px;
    
} */
.cara-item video
{
    position: relative;
    height: 100% !important;
    width: 100% !important;
}
.cara-view
{
    position: absolute;
    bottom: 4px;
    left: 5px;
    color: white;
    font-weight: 100;
    padding: 0px 6px;
    /* background: rgba(0, 0, 0, 0.329); */
    font-size: 14px;
    
}

.cara-time1
{
    color: #b2bde6;
    font-size: 14px;
}


.cara-item2
{
    width: 208px;
    height: 118px;
    cursor: pointer;
}
.cara-img2
{
    width: 100%;
    height: 100%;
}
.cara-content
{
    font-size: 12px !important;
    color: white;
}



/*===================featured-video==========================*/



.featured-text{
    color: #333;
    border-left: 3px solid #FD2557;
    padding-left: 12px;
    font-weight: 700;
    font-size: 20px; 
}
.featured-para{
   font-size: 14px;
   font-weight: 500; 
}
 #featured-bottom .owl-nav [class*=owl-] {
    color: #9da4c7;
    font-size: 30px;
    /* margin: 5px; */
    padding: 7px 15px;
     background: none !important; 
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    margin-left: -60px;
    margin-right: -53px;
    top: 75px;
}
/* img.featured-images{
width: 100% !important;
height: 200px !important;
} */
.play-icon{
    font-size: 41px;
    /* display: ial; */
    position: absolute;
    top: 48px;
    left: 104px !important;
    color: hsla(0, 0%, 0%, 0.741);
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 20px;
    margin: 33px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
 /*===================upcoming-video==========================*/
.upcoming-text{
    color: #fff;
    border-left: 3px solid #FD2557;
    padding-left: 12px;
    font-weight: 700;
    font-size: 20px; 
}
.seeall-btn{
    color: #fff !important;
    border: 1px solid #fff;
    padding: 5px 10px 5px 10px;
} 
.upimages span{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 12px;
}



.upimages{
    /* width: 100%;
    height: auto;
    max-width: 300px; */
    width: 265px;
    height: 153px;
    margin: 0 auto;
    margin-bottom: 35px;
    box-shadow: -6px 9px 44px rgba(157, 67, 143, 0.82);
    position: relative;
}
.upimages img{
    width: 100%;
    height: 100%;
}

.upcoming{
    background: url("../home/images/Header.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 7% 0%;
}
.up-img-text{
   position: absolute;
   top: 140px;
   padding-left: 20px;
   font-weight: 700;
    
}	

/*===================Home==========================*/
.streaming-profile
{
    position: relative;
    width: 100%;
    height: auto;
}
.streaming-profile .strm-prof-img
{
    width: 290px;
    height: 145px;
    position: relative;
}
.streaming-profile .strm-prof-img img{
    width: 100%;
    height: 100%;
    position: relative;
}
.streaming-profile .media
{
    position: relative;
    height: auto;
    padding: 10px 0px;
}
.streaming-profile .media img
{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.streaming-profile .media h6
{
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.streaming-profile .media p
{
    font-weight: bold;
    font-size: 12px;
    color: #656565;
}

.strm-prof-view
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.strm-prof-vd
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.strm-prof-icon
{
    color: #FD2557;
    margin-right: 5px;
}



/*===================Home==========================*/
.home-img
{
    width: 99%;
    height: 320px;
    border: 4px solid rgb(37, 35, 52);
    border-radius: 4px;
    margin: 0 auto;
}
.home-img video{
    width: 100%;
    height: 100%;
}




/*===================streaming-video==========================*/
.common-streamtube
{
    background-color: #fbfbfb;
}

.featured
{
    padding: 7% 0%;
}





/*===================streaming-video==========================*/
.streaming-text{
    color: #333;
    border-left: 3px solid #FD2557;
    /* padding-left: 12px; */
    font-weight: 700;
    font-size: 20px; 
}
.seeall-btn1{
    color: #333 !important;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 4px 9px 4px 10px;
    font-size: 12px;
}   
.stream-img{
    width: 45px;
    height: 40px;
   border-radius: 10px;
}
/*===========================footer================================*/
.footer{
    background: #13132a;
}
.footer-logo{
    margin-left: 70px;
    margin-top: 15px;
    opacity: 0.3;
}
.subscribe-btn{
    background: #FD2557;
}
span.sub-text {
    line-height: 3;
    color: #fff;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
.contact-icons{
    color: #FD2557;
    padding-right: 10px;
}
.social-icon{
    font-size: 20px;
    color: #fff;
}
.footer-bottom{
    background: #070721;
    bottom:0px;

}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #23233c;
    background-clip: padding-box;
    border: 1px solid #23233c;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.footer-para1{
    font-size: 18px;
    font-weight: 500;
}
.footer-para2{
    font-size: 13px;
}
.footer-b-para1{
    font-size: 13px;
}
@media (max-width:575.98px) {
    .banner-main-img{
        width: 100%;
        margin-top: 25px;
    } 
    .logo-text{
        font-size: 13px;
    }   
    .mr-50{
        margin-top: -50px;
    } 
    .live-text{
     font-size: 25px;
     margin-top: -60px;    
    }   
  .livepara {
    color: #fff;
    font-size: 10px;
}  
 #cara-bottom .owl-nav [class*=owl-] {
    color: #dbe0fd;
    font-size: 30px;
    margin: 5px;
    padding: 0px 20px;
    background: none!important;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    top: 73px;
} 
 .featured-para {
    font-size: 12px;
    font-weight: 500;
}
    #featured-bottom .owl-nav [class*=owl-] {
    color: #9da4c7;
    font-size: 30px;
    /* margin: 5px; */
    padding: 7px 15px;
    background: none !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
     margin-left: 0px; 
     margin-right: 10px; 
    top: 60px;
}
    .upimages {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 5px 15px;
}
.upcoming-text {
/*
    color: #fff;
    border-left: 3px solid #FD2557;
    padding-left: 12px;
    font-weight: 700;
*/
    font-size: 14px;
}


 .seeall-btn {
    color: #fff !important;
    border: 1px solid #fff;
    padding: 4px 9px 4px 10px;
    font-size: 12px;
    /* padding: 5px 10px 5px 10px; */
    /* margin-top: -34px; */
}   
.streaming-text {
/*
    color: #333;
    border-left: 3px solid #FD2557;
    padding-left: 12px;
    font-weight: 700;
*/
    font-size: 12px;
}    
 .seeall-btn1 {
    color: #333 !important;
    border: 1px solid #333;
    padding: 5px 10px 5px 10px;
    margin-top: -32px;
}   
   
.footer-para2 {
    font-size: 16px;
}    
    .footer-bottom {
        padding-bottom: 100px;
    }  
    
}
   
 
