html
{
	padding: 0;
	margin: 0;
	width: 100%;
    height: auto;
	overflow-x: hidden;
/*   font-family: r-regular !important;*/
}

body {
	padding: 0;
	margin: 0;
    width: 100%;
    height: auto;
	overflow-x: hidden;
	font-family: m-regular;
    /* background-color: #080B12; */
}

@font-face
{
    font-family: m-medium;
    src: url('../fonts/Montserrat-Medium.otf');
}
@font-face
{
    font-family: m-regular;
    src: url('../fonts/Montserrat-Regular.otf');
}
a:hover{
    text-decoration: none;
}
.col
{
    padding-right: 5px !important;
}

/* togle button for menu */
/* .toggle-menu-btn
{
    position: absolute;
    top: 0;
    left: 130px;
    background-color: red;

} */


.header-bg
{
    background-color: rgba(74, 150, 239, 0.71);
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

/*for fixed header*/

.header-bg .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #23233c;
    transition: all 0.5s;
    font-family: m-medium;
}
.header-bg nav.blackto
{
	background-color: #23233c;
	height: auto;
	color: white !important;
}

 .home-margin-top
{
    padding-top: 52px;
}  

header
{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #FD2557;
    padding: 3px 2px;
    font-size: 13px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px !important;
    box-shadow: 0px 0px 5px 1px rgba(196, 196, 196, 0.75);
    transition: all 300ms linear;
}

.dropdown-menu.show {
    display: block;
    left: -54px;
    transform: scale(1,1);
}

.header-link
{
    color: #ffffff !important;
}

.custom-inp::placeholder
{
    color: rgba(74, 74, 74, 0.92);
}
.custom-inp
{
    position: relative;
    background-color: rgba(213, 212, 212, 0.892) !important;
    border: 0;
    border-radius: 25px;
    height: 30px;
    margin-top: 4px;
    color: #323030 !important;
    font-size: 12px;
    width: 234px !important;
    border-radius: 25px !important;
}
.header-icon
{
    position: absolute;
    top: 13px;
    right: 10px;
    font-weight: 100 !important;
    color: rgba(0, 0, 0, 0.44);
}



.header-point
{
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 200px;
}



/*------------Custome scroll----------------------*/


  /* width */
  .stream-chat::-webkit-scrollbar, 
  .sidenav1::-webkit-scrollbar, 
  .video-total-list::-webkit-scrollbar 
  {
    width: 5px;
    height: 5px;
    padding: 3px;
  }
  
  /* Track */
  .stream-chat::-webkit-scrollbar-track,
  .sidenav1::-webkit-scrollbar-track,
  .video-total-list::-webkit-scrollbar-track
   {
    background: #797979;
    border-radius: 3px;
    height: 8px;
    width: 8px;
  }
  
  /* Handle */
  .stream-chat::-webkit-scrollbar-thumb, 
  .sidenav1::-webkit-scrollbar-thumb, 
  .video-total-list::-webkit-scrollbar-thumb 
  {
    background: #23233c;
    border-radius: 3px;
    height: 8px;
    width: 8px;
  }



/*
.header a
{
    color: whitesmoke;    
}
*/
.sidenav1 {
    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 61px;
    left: 0;
    background-color: #23233C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav1 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(129, 129, 129, 0.88);
    display: block;
    transition: 0.3s;
    border: 0;
/*    border-radius: 25px;*/
/*
    border-bottom: 1px solid #818181;
    box-shadow: 0px 1px 10px #2e2e2e;
    margin: 2px;
*/
}
.sidenav1 a.nav-link
{
    border-radius: 0px;
}

.sidenav1 a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    height: auto;
}

/*-----------Side Bar-------------------------*/
.va-side
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 14px 0px 14px 14px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.side-h6
{
    color: #ceced8;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.va-icon
{
    text-align: center;
    padding: 30px 0px;
    color: rgba(59, 59, 59, 0.94);
}
.va-icon i
{
    font-size: 30px;
}
.va-side-p
{
    text-align: center;
    color: #848493;
    font-size: 12px;
    margin: 0;
}

.side-nav-pic
{
    color: white;
    position: relative;
}
.side-nav-pic h6, .va-side-bottom h6
{
    font-size: 14px;
    margin: 0;
    color: #a8a8c6;
}
.side-nav-pic p
{
    font-size: 11px;
    margin: 0;
    color: #9f9f9f;
}


.va-side-bottom
{
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 14px;    
    padding-bottom: 14px;    
}
.va-side-bottom h6
{
    padding-top: 5px;
/*    padding-left: 14px;*/
    text-align: center;
}
.side-inp-main
{
    position: relative;
    width: 164px;
    height: 30px;
    overflow: hidden;
    margin-top: 10px;
}
.side-inp-main input
{
    position: relative;
    background-color: rgba(25, 19, 42, 0.46) !important;
    border: 0;
    width: 164px;
    padding: 4px 26px 4px 4px;
/*    padding-right: 16px;*/
    border-radius: 3px;
    color: #a8a8c6;
    font-size: 12px;
}
.side-inp-main span
{
    position: absolute;
    top: 2px;
    right: 8px;
    color: #a8a8c6;
}

.nav-img-round
{
    border-radius: 200px;
     width: 35px;
     height: 35px;

}


/*-----------customized nav styles-------------------------*/

.custom-nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #777798;
    background-color: white;
    border-radius: 0 !important;
    border-bottom: 3px solid #FD2557;
/*    text-decoration: underline;*/
    color: #FD2557;
    font-size: 14px;
}
.custom-nav .nav-pills .nav-link
{
    color: #777798;
    font-size: 14px;    
}

.popualrity-btn
{
    background-color: #FD2557;
    color: white !important;
    font-size: 14px !important;  
}
.popualrity-btn1
{
    background-color: rgba(239, 239, 239, 0.9);
    font-size: 14px !important;  
    color: #777798;   
}

/*-----------Main Body-------------------------*/
.main-body
{
    position: relative;
/*    padding: 15px;*/
    background-color: #ffffff;
}

/*-----custom-nav--------*/
.custom-nav
{
    position: relative;
/*    background-color: #e5e5e5;*/
/*    border-bottom: 0.5px solid #d4d4d4;*/
    padding: 15px 0px 0px 15px;
}
.custom-nav-data
{
    position: relative;
    padding: 15px;
}

/*-----games-list--------*/
.games-a
{
    text-decoration: none !important;
}
.games-list
{
    position: relative;
    width: 100%;
    height: auto;
/*    background-color: orangered;*/
    margin-bottom: 6px;
    margin: 0 auto;
    /* box-shadow: 0px 0px 10px grey; */
}
.games-list .games-child
{
    width: 100%;
    height: 180px;
}
.games-list .games-child img
{
    width: 100%;
    height: 100%;
}
.games-list .game-data, .games-list .game-data1
{
    position: relative;
    width: 100%;
    margin: 0;
/*    padding: 3px 0px;*/
    color: #1d1d1d;
}
.games-list .game-data
{
    color:  #13132A; 
    font-size: 14px;
    font-weight: bold;
}
.games-list .game-data1
{
    color:  #777798; 
    font-size: 12px;
}
.games-list .game-data1 span:nth-child(1)
{
    margin-right: 3px;
}

/* *=====================================================================================*/ 
/*--------------------index2------------------------*/

.home-title
{
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.home-title-child
{
    font-size: 15px;
    font-weight: 100 !important;
}


.data-display
{
    padding: 2%;
    width: 100%;
    height: auto;
    position: relative;
}
.video-player
{
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(196, 196, 196, 0.75);
    width: 100%;
    height: auto;
    position: relative;    
}
.video-player .video-child
{
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    transition: all 300ms ease;
}
.video-player .video-child video
{
    position: relative;
    width: 100%;
    height: 100%;
/*    cursor: pointer !important;*/
}
.video-player .video-data
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
}
.video-player .video-data .media img
{
    height: 45px;
    width: 45px;
    border-radius: 200px;
}
.video-player .video-data .media h6
{
    margin: 0;
    margin-top: 8px;
    font-weight: bold;
}
.video-player .video-data .media p
{
    margin: 0;
    font-size: 12px;
    padding-top: 2px;
    /* color: #f8103d; */
}

.video-player .custom-ul
{
    position: relative;
    padding-top: 10px;
    width: 100%;
    height: auto;
    
}
.video-player .video-child:hover .video-list
{    
    display: block;
}

/* -----------------------videos List-----------------------*/
.video-list
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.58);
    overflow-y: auto;
    display: none;
    transition: all 300ms ease;
}
.video-list .video-list-btn
{
    position: relative;
    width: 210px;
    padding: 10px;
    transition: all 300ms ease;
}
.video-list .video-list-btn p:nth-child(1)
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}
.video-list .video-list-btn p:nth-child(1) span:nth-child(1)
{
/*    color: white;*/
    font-size: 24px;
}
.video-list .video-list-btn p:nth-child(1) span:nth-child(2)
{
/*    color: #f8103d;*/
    position: relative;
    top: -3px;
}
.video-list .video-list-btn p:nth-child(2)
{
    font-size: 12px;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
}
.video-list .video-list-btn p:nth-child(3)
{
    font-size: 10px;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
}
.video-list .video-list-btn p:nth-child(3) span:nth-child(2)
{
    color: #f8103d;    
}

.video-list .video-total-list
{
    position: relative;
    width: 250px;
    height: 331px;
/*    overflow-x: hidden;*/
    overflow-y: auto;
    
}
.video-list .video-total-list .media
{
    position: relative;
    padding: 8px 0px;
    cursor: pointer;
    transition: all 300ms linear;
}
/*
.video-list .video-total-list .media::before
{
    content: "";
    position: absolute;
    transform: scale(0, 0);
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
}
.video-list .video-total-list .media:hover::before
{
    transform: scale(1, 1);
}
*/


.video-list .video-total-list .media.active
{
    background-color: rgba(248, 16, 61, 0.28);
}
.video-list .video-total-list .media:hover
{
    background-color: rgba(248, 16, 61, 0.77);
/*    transform: scale(1.02);*/
}


.video-list .video-total-list .media img
{
    width: 90px;
    height: 40px;
}
.video-list .video-total-list .media .media-body
{
    font-size: 12px;
    text-overflow: ellipsis;
    color: #eaeaea;
}
.video-list .video-total-list .media .media-body .vd-list-data:nth-child(1)
{
    font-size: 13px;
    text-overflow: ellipsis;
    font-weight: bold;
}
.video-list .video-total-list .media .media-body .vd-list-data:nth-child(2)
{
    font-size: 12px;
    text-overflow: ellipsis;    
    font-weight: 100 !important;
}
.custom-ul .custom-li a
{
    color: #8a8989;    
}
.custom-ul .custom-li
{
    position: relative;
/*    float: left;*/
    padding: 0px 20px;
    color: #8a8989;
}
.share-icon i
{
    border: 1px solid #f8103d;
    padding: 7px;
    text-align: center;
    border-radius: 3px;
    position: relative;
    top: -3px;
    color: #f8103d;
}

/*---------------view-history-----------------*/
.view-history, .clips
{
    padding: 2%;
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(196, 196, 196, 0.75);   
    margin-top: 20px;
}
.view-history h6
{
    color:  #777798; 
    font-size: 14px;    
}
.view-history .history-videos
{
    margin: 0 auto;
    position: relative;
/*    background-color: #292a2a;*/
    width: 100%;
    height: auto;
}
.view-history .history-vd
{
/*    margin: 0 auto;*/
    position: relative !important;
    width: 100%;
    height: 166px;
/*    background-color: aqua;*/
}
.view-history .history-vd video
{
    width: 100%;
    height: 100%;
    position: relative;
}
.view-history .history-vd-data
{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.view-history .history-vd-data .media img
{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 12px;
}
.view-history .history-vd-data .media h6
{
    position: relative;
    margin: 0;
    color: #030303;
}
.view-history .history-vd-data .media p
{
    font-size: 12px;
    color: #f8103d;
}

.video-time, .video-view, .video-date, .video-date1
{
    position: absolute;
    color: #e2e2e2;
    font-size: 12px;
    background-color: rgba(21, 20, 20, 0.66);
}
.video-time
{
    top: 0;
    left: 0;
    padding-left: 5px;
}
.video-view
{
    bottom: 0;
    left: 0;
    padding-left: 5px;
}
.video-date1
{
    bottom: 92px;
    right: 3px;
    padding-right: 5px;
}
.video-date
{
    bottom: 78px;
    right: 3px;
    padding-right: 5px;
}
.video-view i
{
    color: #f8103d;
    font-size: 11px;
    margin-right: 3px;
    position: relative;
}


video[poster]{
height:100%;
width:100%;
}


/*------------Clips----------------*/
.clips-top-btns
{
    position: relative;
}
.clips-top-btns .btn
{
    position: relative;
}
.clips-top-btns
{
    background-color: white;
    border: 1px solid #bababa;
    font-size: 12px;
    box-shadow: 0px 0px 3px 0px rgba(26, 26, 26, 0.28);
    border-radius: 2px;
}


.clip-videos
{
/*    margin: 0 auto;*/
    position: relative;
/*    background-color: #292a2a;*/
    /* width: 360px; */
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.clip-vd
{
/*    margin: 0 auto;*/
    position: relative !important;
    /* width: 216px; */
    height: 180px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
/*    background-color: aqua;*/
}
.clip-vd video
{
    width: 100%;
    height: 100%;
    position: relative;
}
.clip-vd-data
{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5px;
}
.clip-vd-data .media img
{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 12px;
}
.clip-vd-data .media h6
{
    position: relative;
    margin: 0;
    color: #030303;
}
.clip-vd-data .media p
{
    font-size: 12px;
    /* color: #f8103d; */
}

/* .video-time, .video-view, .video-date
{
    position: absolute;
    color: #e2e2e2;
    font-size: 12px;
}
.video-time
{
    top: 0;
    left: 0;
    padding-left: 5px;
}
.video-view
{
    bottom: 0;
    left: 0;
    padding-left: 5px;
}
.video-date
{
    bottom: 0;
    right: 0;
    padding-right: 5px;
} */
.video-view i
{
    color: #f8103d;
    font-size: 11px;
    margin-right: 3px;
    position: relative;
}
.top-videos
{
    color: #f8103d;    
}
.film-icon{
   font-size: 65px;
   color: rgba(157, 169, 181, 0.33); 
} 
.film-para{
    font-size: 12px;
    color: rgba(157, 169, 181, 0.78);
}
.popular-btn{
   background: #fd2557;
    color: #fff!important;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
 
}
.search-film-icon{
    font-size: 40px;
    right: 27px;
    position: relative;
    bottom: 9px;
    color: #8ca7c1;   
}
.ques-film-icon{
    position: relative;
    font-size: 16px;
    right: 61px;
    bottom: 21px;
    color: #f92929; 
}
 /*==================Chating box================*/
.stream-heading
{
    position: relative;
    margin: 0;
    font-size: 14px;
    color:  #777798;  
    background-color: rgba(230, 230, 230, 0.83);
    padding: 15px;
    font-weight: 100;
}
.stream-heading i
{
    padding-right: 10px;
}

.stream
{
    position: relative;
    width: 100%;
    height: auto;
/*    overflow-y: scroll;*/
/*    box-shadow: 0px 0px 1px grey;*/
    border-left: 0.5px solid #d3d3d3;
    border-bottom: 0.5px solid #d3d3d3;
}
.stream .stream-chat
{
    position: relative;
    width: 100%;
    height: 420px;
    overflow-y: scroll;
    padding: 15px;
}
.stream .stream-chat div
{
    font-size: 14px;
    margin-bottom: 5px;
}
.stream .stream-chat .chat-name
{
     color: #f8103d;
    font-weight: bold;
}
.stream .stream-chat .chat-msg
{
    font-weight: 100 !important;
    padding-left: 5px;
}
.chat-typing
{
    position: relative;
    width: 100%;
    border-top: 0.5px solid #d3d3d3;
    padding: 20px;
}
.chat-typing .chat-inp
{
    position: relative;
    width: 100%;
    height: 60px;
    position: relative;
    padding: 10px;
    border: 01px solid #d3d3d3;
    border-radius: 3px;
    font-size: 13px;
}
.chat-typing .chat-inp-icon
{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color:  #777798; 
}
.chat-bottom-icon a
{
    font-size: 26px;
    color:  #777798; 
}
.chat-btn
{
    border: 0;
    padding: 6px 15px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #f8103d;
    color: white;
    cursor: pointer;
}
/*==================================Events-page=====================================*/
.events-btn,.events-btn:hover{
    font-size: 12px;
    color: #fff;
    background: #fd2557;
    padding: 12px 15px 12px 15px;
    text-decoration: none;
}
.events-btn1,.events-btn1:hover{
    color: #848493;
    font-size: 12px;
    background: #ece3e3; 
    padding: 12px 15px 12px 15px; 
    text-decoration: none;
}
/*
.events-btn2,.events-btn2:hover{
     color: #848493;
    font-size: 12px;
    background: none; 
    padding: 8px 15px 8px 15px; 
    text-decoration: none;
    border: 1px solid #848493;
    float: right;
}      
*/
.media-img{
    width: 100%;
    max-width: 370px;
    height: 225px;
}
.event-text{
    font-size: 12px;
    color: #848493;
    text-align: justify;
}
/*
.e-text{
color:#848493;
}
*/
.more-btn,.more-btn:hover{
    font-size: 12px;
    color: #848493;
    background: none;
    padding: 7px 15px 7px 15px; 
    border: 1px solid #848493;
    text-decoration: none;
    
}
/*.share-icon,*/
/*
.share-icon:hover{
    color: #fd2557;
    border: 1px solid #fd2557;
    padding: 4px 7px 4px 7px;
    margin-left: 13px;
}
*/
.pen-icon{
    color: #848493;
    border: 1px solid #848493;
    padding: 4px 7px 4px 7px;
    margin-left: 13px; 
} 
.view-history
{
    padding: 2%;
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(196, 196, 196, 0.75);   
    margin-top: 20px;
}
.cal{
   margin: 7px;
    /* padding: 0px 5px 0px 5px; */
    font-size: 11px;
    border-radius: 4px;
    position: absolute;
    top: 5px;
}
.events-btn2,.events-btn2:hover{
     color: #848493;
    font-size: 12px;
    background: none; 
    padding: 8px 15px 8px 15px; 
    text-decoration: none;
    border: 1px solid #848493;
    float: right;
}
.month{
    background: #fd2557;
    color: #fff;
    display: inline-block;
    padding: 2px 8px 2px 10px;
    border-radius: 2px 2px 0px 0px;
}
.date{
    color: #fd2557;
    font-size: 15px;
    background: #fff;
    display: inherit;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0px 0px 2px 2px;
}
/*======================================events1-page=======================================*/
.live-text,.live-text:hover{
    color:#fd2557;
    text-decoration:none;
    font-size: 14px;
}
.ellipsis-icon{
    color: #84849d;
    font-size: 20px;
}
.rem-green,.rem-green:hover{
     font-size: 13px;
    background: #48924b;
    color: #fff;
    margin-left: 12px;      
}
.rem-red,.rem-red:hover{
    font-size: 13px;
    background:#fd2557;
    color: #fff;
    margin-left: 12px;   
}    


/*======================================events2-page=======================================*/
.all-btn,.all-btn:hover{
    text-decoration: none;
    color: #8484a1;
    font-size: 12px;
    border: 1px solid #8484a1;
    padding: 5px 10px 5px 10px;
}
.p-head{
    font-size: 12px;
    color: #84849d;
}
.p-head1{
    font-size: 12px;
    color: #8484a0a3;
    margin-left: -15px;
}
.icon-side-text{
    font-size: 13px;
    color: #fd2557;
    padding-left: 14px; 
    padding-top: 8px;
}
.game-icons{
    color: #84849d;
    font-size: 12px;
    padding-top: 18px;
} 
/*
.mail-icon{
    color: #84849d;
    font-size: 13px;
}
*/
.f-12{
    font-size: 12px;
}
.social-icon{
    color: #84849d;
    font-size: 20px;
}
.funny-icons{
    color: #fd7e14;
     font-size: 20px;
}

/*============================================collections-page================================================*/
.img-game-data1{
    position: absolute;
    bottom: 31px;
    /* padding-left: 12px; */
    color: #fff;
    font-size: 13px;
    left: 25px;
}
.img-user-icon{
    color: #FD2557;
    font-size: 12px;
    padding-right: 8px;
}
.img-video-icon {
   position: absolute;
    bottom: 114px;
    /* text-align: center; */
    /* align-items: center; */
    font-size: 25px;
    color: #fff;
    /* padding-left: 130px; */
    left: 130px;
}
.video-icon-text{
    font-size: 13px;
    color: #fff;
    position: absolute;
    bottom: 95px;
    /* padding-left: 113px; */
    left: 113px;
}



/*...................Followers................*/
.followers
{
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(196, 196, 196, 0.75);
    width: 100%;
    height: auto;
    position: relative; 
}
.followers-child
{
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}
.followers-heading
{
    color: #FD2557;
    font-weight: 700;
    font-size: 14px;
    margin: 2px;
}

.followers-img
{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(196, 196, 196, 0.75);
    padding: 5px 0px 0px 5px;
    height: 40px;
    width: 40px;
}
.calender
{
    font-size: 13px;
    color: #676262;
    
}
.calender-icon
{
    color: #c4c4ce;
    margin-right: 8px;
}
.language
{
    font-size: 13px;
    padding-left: 30px;
    color: #676262;
}
.globe-icon
{
    color: #c4c4ce;
    margin-right: 8px;
}
.parent
{
    float: right;
    padding: 10px 10px 0px 0px;
}
.child
{
    padding: 0px 20px 0px 0px;
    color: rgba(185, 181, 181, 0.53);
    font-size: 20px;
}
.message-button
{
    color: #e2e2e2;
    margin-right: 15px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(92, 88, 88, 0.65);
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: all 300ms ease;
}
.follow-button
{
    color: white;
    font-size: 12px;
    background-color: #FD2557;
    padding: 3px 13px 3px 13px;
/*    border: 1px solid black;   */
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
}
.following-button
{
   color: white;
    font-size: 12px;
    background-color: rgba(17, 188, 63, 0.87);
    padding: 3px 10px 3px 10px;
    width: 80px;
    cursor: pointer;
/*    border: 1px solid black;   */
    border: 0;
    text-align: center;
    border-radius: 2px; 
}
.mail-icon
{
   font-size: 15px; 
    
}
.add-icon
{
    font-size: 12px; 
    margin-right: 4px;
}

/*...................Following................*/

.unfollow-button
{
    color: rgba(92, 88, 88, 0.65);
    margin-right: 5px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.message-button:hover
{
    background-color: white;
    border: 1px solid #FD2557;
    color: #FD2557;
}
.unfollow-button:hover
{
    background-color: rgba(136, 130, 130, 0.74);
    color: white;
}


/*...................Wishlist................*/
.wishlist
{
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 12px;
    border: 1px solid rgb(189, 189, 189);
    transition: 300ms all ease;
    position: relative;
}
.wishlist:hover
{    
    box-shadow: 0px 0px 10px rgb(153, 153, 153);
}
.wishlist .wishlist-img
{
    width: 250px;
    height: 150px;
    position: relative;
}
.wishlist .wishlist-img1 {
    width: 108px;
    height: 77px;
    position: relative;
}
.wishlist .wishlist-img img{
    width: 100%;
    height: 100%;
}
.wishlist-title
{
    padding: 0;
    margin: 0;
}
.wishlist-title a{
    color: #FD2557;
    font-weight: bold;
}
.wishlist-p a
{
    color: #696969;
}
.wishlist-p
{
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: rgb(123, 123, 123);
    font-weight: 100 !important;
}
.wishlist-video-time
{
    position: absolute;
    bottom: 0;
    right: 0;  
    color: #e2e2e2;
    font-size: 12px;
    background-color: rgba(21, 20, 20, 0.255);
}

.cross-mark1
{
    position: absolute;
    top: 2px;
    right: 5px;
}







/*...................Live................*/


.stream-info
{
    box-shadow: 0px 0px 10px 1px rgba(212, 212, 212, 0.92);
    background-color: white;
    padding-bottom: 5px !important;
}
.stream-h
{
    padding: 12px 20px;
    background-color: white;
    border-bottom: 1px solid rgba(180, 180, 180, 0.72);
}
.stream-h1
{
    padding: 12px 20px;
    background-color: white;
/*    border-bottom: 1px solid rgba(180, 180, 180, 0.72);*/
}
.stream-info-form
{
    padding: 20px;
    font-size: 14px;
}
.stream-heading1
{
    font-weight: 700;
    color: rgba(72, 64, 64, 0.63);
/*    border-bottom: 1px solid rgba(180, 180, 180, 0.72);*/
}

.dotted-icon
{
    float:right;
    position: relative;
    bottom: 25px;
    color: rgba(72, 64, 64, 0.63);
}

.infoimp
{
    border: 0px !important;
    border-bottom: 1px solid rgba(180, 180, 180, 0.72) !important;
    border-radius: 0px !important;
    padding-left: 0 !important;
    font-size: 14px !important;
    padding-bottom: 1px;
    font-size: 12px;
}
.stream-game
{
    position: relative;
}
.stream-search
{
    position: absolute;
    right: 0;
    top: 15px;
    color: rgba(180, 180, 180, 0.72);
    cursor: pointer;
    
}
.guidelines
{
    color: #FD2557;
}
.update-info
{

    display: block;
    width: 100%;
    background-color: #FD2557;
    color: white;
}
.stream-host
{
    float: right;
    position: relative;
    bottom: 25px;
    right: 10px;
    color: rgba(137, 130, 130, 0.72);
}



.stream-para
{
    padding: 10px 0px 0px 20px;
    font-size: 14px;
}
.stream-test
{
    margin-left: 18px;
    margin-bottom: 15px !important;
    background-color: white;
    font-size: 14px !important;
    border: 1px solid rgba(180, 180, 180, 0.72) !important;
    color: rgba(108, 93, 93, 0.85);
}
.stream-offline
{
/*    height: 40px !important;*/
    padding: 2px 5px;
    font-size: 14px !important;
    float: right;
    margin-right: 15px;
/*    margin-left: 50px !important;*/
/*    margin-bottom: 15px !important;*/
    
}

.stream-info1
{
    box-shadow: 0px 0px 10px 0px rgba(212, 212, 212, 0.92);
    background-color: white;
}

.stream-video
{
    height: auto;
    width: 100%;
}
.stream-video video
{
    width: 100%;
    height: 100%;
}


.stream-stats
{
    font-size: 14px !important;
    border: 0px !important;
    border-radius: 0px !important;
    border-bottom: 0px !important;
}
.stats-total
{
    float: right;
}

.stream-broadcast
{
    float: right;
    position: relative;
    bottom: 25px;
    right: 10px;  
    color: rgba(137, 130, 130, 0.72);
}
.stream-broadcast-list
{
    font-weight: 600;
}
.stream-broadcast-list a
{
    color: rgba(72, 64, 64, 0.63) !important;
    background-color: white !important;
}
.stream-broadcast-list a:hover
{
    color: #FD2557 !important;
    border-radius: 0px !important;
}

/*==========================icon==========================*/
.icon-img-icons{
    color: #84849d;
    font-size: 14px;
    padding-top: 10px;
}










































/*------------carousel----------------*/
/*.owl-carousel .owl-dots.disabled,*/
.owl-carousel .owl-nav.disabled
{
    display: block !important;
}
.cara-left
{
    position: relative;
    top: 40%;
    color:  #d8d8d8; 
}

.cara-right
{
    position: relative;
    top: 40%;
    color:  #d8d8d8; 
}

.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 15px;
    background: rgba(0, 0, 0, 0.42);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    top: -4px;
    height: 65%;
}
.owl-theme .owl-nav:hover [class*=owl-] {
    background: rgba(0, 0, 0, 0.42);
}

.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -5px;
}
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: -5px;
}











/* =========================================================================== */
/* settings */

a{
    color: #000000;
}


.settings-card {
    background-color: #ffffff;
    border-radius: 4px;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03), 0 0 4px rgba(0, 0, 0, 0.03); */
    padding: 1.2em;
    margin-bottom: 1.2em;
    height: 6.5em;
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    box-shadow: 0px 0px 10px #848181;
    transform: scale(0.95);
    transition: all 300ms ease;
}
.settings-card:hover
{
    transform: scale(1);
}

.carg-lg {
    height: 14.2em;
    justify-content: center;
}
.settings-left {
    width: 2.14em;
    height: 2.14em;
    float: left;
    margin-right: 1em;
}
.settings-right {
    width: calc(100% - 3.14em);
    float: left;
}
.settings-icon {
    height: 2.14em;
    width: 2.14em;
}

.settings-head {
    font-size: 1.28em;
    line-height: 1.375;
    margin: 0;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}

.settings-card-img {
    height: 5.2em;
    width: 5.2em;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}

.settings-subhead {
    font-size: 1em;
    color: #999;
    margin-top: .5em;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.settings-link {
    color: #2E93E0;
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: 0;
    display: inline-block;
}
.jp-card-container {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    width: 100%;
    max-width: 480px;
    height: 200px;
    margin: auto;
    z-index: 1;
    position: relative;
}


#payment-form {
    max-width: 100%;
    width: 450px;
    margin: 0 auto;
    padding-top: 15px;
}



/* =========================================================================== */

.swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
}

.imgbox {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.imgbox img {
    width: 100%;
    height: 100%;
}

.wishlist_heart {
	display: none;
}

.add_to_wishlist {
	display: block;
}

.added_to_wishlist {

	display: block;

}

.wishlist_heart_remove {
	display: none;
}

/* .video {
    background-color: greenyellow;
} */

.sw-height {
    width: 600px;
    height: 300px;
    background-color: antiquewhite;
}

.swiper-slide-active {
    transition-duration: 0ms;
    transform: translate3d(-103px, 0px, 0px) rotateX(0deg) rotateY(0deg);
    z-index: 1;
}

.swiper-wrapper
{
    transition-duration: 0ms;
    transform: translate3d(310.5px, 0px, 0px);
    perspective-origin: 150px 50%;
}






/*--------------
changes
---------------*/
.mylist button{
	font-size: 17px;
    border: none;
    padding: 1px 0 1px 10px;
    background-color:transparent;
    color: #999;
}
.mylist button:hover, .mylist button:active, .mylist button:focus{
	background-color: transparent;
    color:#999;
    border-color: transparent;
    outline: transparent;
}
.share-twitter{
	background-color: #00aced;
	border-color: transparent;
    color: #fff;
}
.share-twitter:hover .share-twitter:active .share-twitter:focus{
	background-color: #0084b4;
	border-color: transparent;
	color: #fff;
	outline: transparent;
}
.share-fb:hover .share-fb:active .share-fb:focus{
	background-color: #0084b4;
	border-color: transparent;
	color: #fff;
	outline: transparent;
}
.feed-comment{
	clear: both;
   /* border-top: 1px solid #F1F1F1;*/
}
.comment-submit{
	float: right;
	font-size: 13px;
	margin-bottom: 10px;
	padding: 3px 15px;
	background-color: #E02D29 !important;
	color: #fff !important;
	border-color: transparent;
	outline: transparent;
	margin-top: 10px;
}
.comment-submit:hover, .comment-submit:active, .comment-submit:focus{
	background-color: #b1100c !important;
	border-color: transparent;
	outline: transparent;
}
/*.comment-submit .btn-primary{
	background-color: #b1100c !important;
	border-color: transparent;
	outline: transparent;
}*/
.profile-edit{
	margin-top: 0;
}
.y-content{
	z-index: 8;
	/*min-height: 700px;*/
}
.watch-video{
	min-height: 700px;
}
.foot-div{
	text-align: center;
}
.foot-content{
	text-align: center;
}
.bottom-space{
	margin-bottom: 10px;
}
.profile-content {
    margin-top:10px !important;
}
.common-streamtube {
	min-height: 700px;
}
.right-zero{
	margin-right:0 !important;
}
.bottom-space{
	margin-bottom: 15px;
}
.bottom{
	margin-bottom: 10px;
}
.slide-image{
	width: 100%;
	height: 110px !important;
	overflow: hidden;
	position: relative;
}
.btn-group-sm > .btn, .btn-sm{
	border-radius: 0;
}
.slide-image img{
	width: 100%;
	min-height: 100%;
}

.slick-initialized .slick-slide {
    display: block;
    padding: 5px;
}
.slick-next::before{
	margin-left: 2px;
}
.slick-prev::before{
	margin-left: -2px;
}
.slick-prev, .slick-next{
	font-weight: bold;
    padding: 0;
    display: inline-block;
    width: 42px;
    height: 42px;
    transition: all .3s linear;
    /*background-color: #eee;*/
    background-color: #fff;
    line-height: 7px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    top:30%;
    border-radius: 50% !important;
    z-index:0;
 }
.shadow{
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}
.static-head{
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.slick-prev {
    left: -30px;
}

.slick-next{
	right: -30px;
}

.slick-prev:hover,.slick-prev:active,.slick-prev:focus{
	background-color: #eee;
	/*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);*/
}

.slick-next:hover,.slick-next:active,.slick-next:focus{
	background-color: #eee;
}
.video-image {
  position: relative;
}
.video-image:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.video-image .video-image-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cus-mod .modal-title{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.cus-mod .modal-header{
	border-bottom: 0;
}
.cus-mod .btn{
	display: block;
	max-width: 350px;
	margin: 0px auto 35px;
}
.history-head h5{

	display: block;
	display: -webkit-box;
	/* Fallback for non-webkit */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height:38px;
	line-height:17px;
	font-family: arial;
	font-size: 1em;

}
.h-50{
	height: 50px;
	overflow: hidden;
}
.h-60{
	height:60px;
	overflow: hidden;
}
.history-head h5 a{

	color: #333;

}

.suggn-title a {

	color: #333;
	font-size: 1em;
	text-decoration: none;
}
.edit-pro-btn a{
	display: block;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 5px;
}
.save-pro-btn a{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 5px;
}
.cross-mark1{
    width:20%;
    float: left;
    text-align: right;
}
.cross-title1 {
    width: 80%;
    float: left;
    text-transform: capitalize;
}













.channel-img{
	margin-right: 10px;
    width: 60px;
    float: left;
    height: 60px;
    border-radius: 200px;
    overflow: hidden;
}

.rating1{
    color: #999;
    font-size: 13px;
}
.rating1:hover{
	color: #999;
}

.bg-green{
    background-color: #00a65a !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.small-box h3, .small-box p {
    z-index: 5;
    color: #fff!important;
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
    color: #fff !important;
}

.small-box > .inner {
    padding: 10px;
}

.small-box p {
    font-size: 15px;
}

.small-box .icon {
    color: rgba(0, 0, 0, 0.15);
    font-size: 90px;
    position: absolute;
    right: 30px;
    top: -10px;
    transition: all 0.3s linear 0s;
    z-index: 0;
}

.small-box > .small-box-footer {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}
.p-t-5 { 
	padding-top: 5px;
}
.modal-bg-img{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
.content-modal{
	border-radius: 0;
}
.copy-embed .modal-header{
	padding: 15px 0;
	color: black !important;
    background: transparent !important;
    border-bottom: 1px solid #cccccc;
}
.copy-embed .modal-title{
	font-size: 20px;
	font-weight: normal;
}
.copy-embed .modal-body{
	padding: 15px 0;
	text-align: left;
}
.copy-embed .modal-body p{
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	color: #999;
	text-align: left;
}
.copy-embed .close:hover{
	background-color: transparent !important;
	color: black;
}
.copy-embed textarea{
	resize: none;
	border:0;
	border-radius: 0;
	border-bottom: 1px solid #999;
	box-shadow: none;
	height: 110px;
	margin-bottom: -14px;
}
.copy-embed textarea:focus{
	box-shadow: none;
}
.copy-embed textarea:focus+.underline1 {
  transform: scale(1);
}
.underline1 {
	background-color:#333;
	display: inline-block;
	height: 2px;
	margin-top: -4px;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	width: 100%;
}
.hr-class{
	padding: 0 15px;
}
.copy-embed .btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
}
.copy-embed .modal-body{
	height: 235px;
	overflow: auto;
}
.copy-embed .modal-footer{
	padding: 10px 0 ;
}
.modal-footer .btn-danger{
	border-radius: 4px;
}
.video-title1{
	font-size: 20px !important;
	color: white;
	font-weight: normal;
	background-color: rgba(0,0,0,.5);
	padding: 15px;
	margin: 0;
}
.zero-padding{
	padding: 0;

}
.modal{
    overflow: hidden;
}
.modal-header{
  	background-color:#E62118;
  	color: white; 
  	border-radius: 5px 5px 0 0;
  	border: 0;
    /*padding: 15px 15px 0 0;*/
}
.signup-form1{
  	border:2px solid #e0e0e0;
  	box-shadow: none;
  	height: 45px;
  	color:#a59f9f;
  	margin-top:0px;
}
.signup-form1:focus{
  	box-shadow: none;
  	border-color:  #e0e0e0;
}
.signup-form1::-webkit-input-placeholder { 
    color:#a59f9f;
}
.signup-form1::-moz-placeholder {
	  color:#a59f9f;
}
.signup-form1:-ms-input-placeholder { 
	  color:#a59f9f;
} 
.signup-form1:-o-input-placeholder { 
	  color:#a59f9f;
} 
.signup-btn{
  	background-color: #E62118;
  	color:white;
  	padding: 0px 40px;
  	height: 45px;
  	border: 2px solid #E62118;
  	border-radius: 5px;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
}
.signup-btn:hover, .signup-btn:focus , .signup-btn:active{
  	background-color:transparent;
  	color: #E62118;
}
.submit{
	  margin-top: 10px;
}
.top1{
	  margin-top: 25px;
}
.radio-inline{
    padding-left: 0;
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top:-1px;
    height: 15px;
    width: 15px;
    transition: all 0.15s ease-out 0s;
    background:#9faab7;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background:#E62118;
}
.option-input:checked::before {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-top: 2px;
    margin-left: 4.5px; 
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}
.zero-padding{
    padding: 0;
}
.radio-btn label{
    font-weight: normal;
    color:#a59f9f;
    margin-bottom: 25px;
    margin-top: 0;
}
.width-100{
    width: 100px;
}
.form-group1{
    margin-bottom: 20px;
}
.top2{
    margin-top: 50px;
}
.no-margin{
  margin: 0;
}

















.report-button{
    background-color: #4badda;
	color: #fff;
	box-shadow: none;
	border-color: transparent;
	/*border-radius: 4px;
	margin-bottom: 5px;*/
	/*float: right;*/
	margin-left: 10px;
	padding: 4px 10px;
	font-size: 13px;
}
.menu-foot{
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #e8e8e8
}
.menu-foot h3{
	font-size: 13px;
	margin-top: 0;
	color: #cc181e;	
	margin-bottom: 15px;
}
.menu-foot-head{
	font-size: 13px;
	margin-top: 0;
	color: #cc181e;	
	margin-bottom:10px;
}
.social-fb{
	color: #3b5999;
}

.social-twitter{
	color: #55acee;
}

.social-google{
	color: #dd4b39;
}

.social-linkedin{
	color: #0077B5;
}

.social-pinterest{
	color: #bd081c;
}

.foot-share1{
	color: red;
}
.foot-share2{
	padding-top: 2px;
}
#report-form .modal-content{
	border-radius: 0;
}
#report-form .modal-title{
	font-size: 18px;
}
#report-form .close:hover{
	color: black;
}
.menu-foot img{
	height: 43px;
	width:auto;
	max-width: 100%;
	margin-bottom:15px;
	transition: all .3s linear;
}
.video-title h4{
	font-size: 13px;
    font-weight: bold;
}
.video-title p{
	font-size: 13px;
}
.video-description h4{
	margin-bottom: 5px;
}
.video-title .row{
	margin: 0;
}
.content-image img{
	width: 53px;
    height: auto;
    float: left;
    margin-right: 10px;
}
.view-count{
	float: right;
}
.channels{
	padding: 5px 0;
}
.channels-head p{
	margin-bottom: 5px;
	font-size: 12px;
}
.channels-head i{
	border: 1px solid transparent;
	font-size: 8px !important;
    padding: 1px;
    vertical-align: middle;
    background-color: #b8b8b8;
    cursor: pointer;
}
.channels-head i:hover{
	background-color: #62B2E5;
}

.subs{
	background-color: #E62117;
	border-color: transparent;
	color: white;
}
.subs i{
	margin-right: 5px;
}
.more-content{
	/*margin-top: 25px;*/
	/*background-color: #fff;*/
	min-height: 30px;
}
.share-details i{
	margin-right: 0px;
}
.share-new{
	color: #999;
	font-size: 16px;
	cursor: pointer;
}
.share-new:hover, .share-new:focus,  .share-new:active{
	color: #999;
}
.share-new p{
	font-size: 16px !important;
	margin-top: 7px;
	margin-left: 5px;
	font-weight: normal !important;
}
.share-new i{
	margin-left: 10px;
	vertical-align: -24%;
	font-size:18px;
}
.modal-top1 .modal-content{
	border-radius: 0;
}
.modal-top1 .close:hover{
	color: #000;
}
.more-content a{
	/*color: #767676;*/
	/*padding: 10px;*/
}
.mylist{
	line-height: 2em;
	float:right;
	/*padding: 20px 0;*/
}
.share{
	float: left;
	padding:20px 0;
}
.ratings{
	float: right;
	margin-top: 10px;
}
.top-btn-space{
	margin-top: 5px;
}
.share-fb{
	background-color: #3b5998;
	border-color: transparent;
	padding: 5px 12px;
	display: inline-block;
	margin-left: 12px;
    color: #fff;
}
.share-fb:hover,.share-fb:active,.share-fb:focus{
	background-color: #213b71;
	color:#fff;
	text-decoration: none;
}
.share-google{
	background-color: #ca1e04;
	border-color: transparent;
	padding: 5px 10px;
	display: inline-block;
	margin-left: 10px;
    color: #fff;
}
.share-google:hover,.share-google:focus,.share-google:active{
	background-color: #a21f0b;
	color:#fff;
	text-decoration: none;
}

.share-twitter{
	background-color: #4099ff;
	border-color: transparent;
	padding: 5px 10px;
	display: inline-block;
	margin-left: 10px;
    color: #fff;
}
.share-twitter:hover,.share-twitter:focus,.share-twitter:active{
	background-color: #3f91ef;
	color:#fff;
	text-decoration: none;
}
.share i{
	margin-right: 0px;
}
.stars a{
	padding: 0;
}
.stars i{
	font-size: 14px;
	color: #b8b8b8;
}
.stars i:active{
	color: #f5ba0e;
}
.btn{
	border-radius: 0px !important;
}
input{
	border-radius: 0px !important;
	box-shadow: none !important;
	border-color:#b8b8b8 !important;
}
textarea{
	border-radius: 0px !important;
	box-shadow: none !important;
	border-color:#b8b8b8 !important;
	resize: none;
}
input:focus, textarea:focus{
	box-shadow: none !important;
	border-color:#fc8888 !important;
}
input[type="checkbox"], input[type="radio"]{
	vertical-align: -17%;
}
.channel-tab-icon{
	color: #999;
	font-size: 20px;
}
/*.c-380:before{
	content: '\002022';
    margin: 0 5px;
}*/
.v-comments{
	background-color: #fff;
	padding: 15px;
}
.row1{
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.v-comments h3{
	font-size:18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom:10px;
}
.com-image{
	float: left;
	margin-right: 10px;
}
.display-com{
	margin-top: 23px;
}

/*comment box*/
#comment_form input, #comment_form textarea {
	border: 4px solid rgba(0,0,0,0.1);
	padding: 8px 10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	outline: 0;
}

#comment_form textarea {
	width: 90%;
    height: 100px !important;
    padding: 8px 0;
    border:0;
    height:65px !important;
    border-bottom: 1px solid #999;
    position: relative;
    margin-bottom: -6px;
}
#comment_form textarea:focus+.underline {
  transform: scale(1);
}
.underline {
	background-color:#333;
	display: inline-block;
	height: 2px;
	margin-top: -4px;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	width: 90%;
	margin-left:10%; 
}
/*#comment_form textarea:focus{
	border-bottom:2px solid #333;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}*/
#comment_form input[type="submit"] {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);
	background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);
	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);
	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	
	border: 1px solid #999;
}

#comment_form div {
	margin-bottom: 5px;
}
/*comment box css end*/
.top-comment .btn{
	padding: 5px 8px;
	font-size: 12px;
}
.top-comment .btn-default{
	border-radius: 3px;
	background-color: #f8f8f8;
}
.top-comment .btn-default:hover{
	background-color: #f0f0f0;	
}
.display-comhead{
	margin-top: 10px;
	min-height: 50px;
}
.com-image{
	margin-right: 1%;
    width: 9%;
}
.sub-comhead h5{
	margin: 0;
	color: #128ee9;
	margin-right: 5px;
    font-weight: bold;
    font-size: 12px;
}
.sub-comhead p{
	margin: 0;
	line-height: 16px;
    font-size: 11px;
    color: #767676;
}
.com-para{
	font-size: 11px !important;
    margin-top: 1px !important;
    color: #767676 !important;
}
.replay{
	margin-top: 5px;
}
.replay a{
	color: #6f6767;
	padding-right: 5px;
}
.replay a i{
	padding-right: 5px;
}
.dispaly-show{
	width: 100%;
    margin-top: 10px;
}
.side-video{
	padding: 0;
}
.up-next{
	background-color: rgb(255, 255, 255);
	/*margin-top: 15px;*/
	padding: 15px;
}
.next-row{
	margin-bottom: 10px;
}
.up h5{
	margin: 0;
	font-size: 15px;
	font-weight: 300;
}
.switch{	
    padding: 0;
}
.switch label{
	float: right;
	border: none !important;
	color: #767676;
	padding: 0;
	font-size: 10px;
	background-color: transparent;
}
.video-sugg{
    padding: 0;
    width: 100%;
}
.sugg-list{
	list-style-type: none;
	clear: both;
	margin: 0;
	margin-bottom: 15px !important;
}
.sugg-list:last-child{
	margin-bottom: 0;
}
.sugg-head1{
	font-weight: bold;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-top: 0;
}
.video-image {
    float: left;
    margin-right: 3%;
    width: 43%;
    /*height: 90px;*/
    overflow: hidden;
}
.video-image img{
	width: 100%;
	min-height: 100%;
}
.sugg-head {
    float: left;
    width: 54%;
}
.sugg-head a:hover{
	color: #337ab7;
}
.sugg-head h5{
	margin: 0;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}
.sugg-title{
	margin: 0px 0px 3px;
	font-weight: 600;
}
.sugg-description p{
	margin: 0px;
	padding: 0px;
	font-size: 9px;
	color: rgb(75, 70, 70);


}
.time p{
	margin: 0;
	font-size: 11px;
}
.slide{
	border-bottom: 1px solid #b8b8b8;
	margin-bottom: 10px;
}
.profile-image{
	width: 37px;
    height: 37px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image img{
	width: 100%;
    min-height: 100%;
}
.profile-button button{
	padding: 0;
}
.profile-button .btn-default{
	border-color: transparent !important;
}
.profile-button .btn-default:hover{
	color: #333;
	background-color:transparent;
}
.profile-button .btn-default:focus{
	color: #333;
	background-color:transparent;
	box-shadow: none;
}
.profile-button .dropdown-menu{
	left: -105px;
	font-size: 12px;
	min-width: 120px;
}
.profile-button .open > .dropdown-toggle.btn-default{
	background-color: transparent;

}
.profile-button .btn:focus {
    outline-color: transparent;
    outline-offset: 0;
}
.no-margin-top{
	margin-top: 0 !important;
}


.rating1{
	color: #999;
}
.rating1:hover{
	color: #999;
}




#comment_form div {
	margin-bottom: 5px;
}
/*comment box css end*/
.top-comment .btn{
	padding: 5px 8px;
	font-size: 12px;
}
.top-comment .btn-default{
	border-radius: 3px;
	background-color: #f8f8f8;
}
.top-comment .btn-default:hover{
	background-color: #f0f0f0;	
}
.display-comhead{
	margin-top: 10px;
	min-height: 50px;
}
.com-image{
	margin-right: 1%;
    width: 9%;
}
.sub-comhead h5{
	margin: 0;
	color: #128ee9;
	margin-right: 5px;
	font-weight: bold;
}
.sub-comhead p{
	margin: 0;
	line-height: 16px;
    font-size: 11px;
    color: #767676;
}
.com-para{
	font-size: 11px !important;
    margin-top: 1px !important;
    color: #767676 !important;
}
.replay{
	margin-top: 5px;
}
.replay a{
	color: #6f6767;
	padding-right: 5px;
}
.replay a i{
	padding-right: 5px;
}
.dispaly-show{
	width: 100%;
    margin-top: 10px;
}
.side-video{
	padding: 0;
}
.up-next{
	background-color: rgb(255, 255, 255);
	/*margin-top: 15px;*/
	padding: 15px;
}
.next-row{
	margin-bottom: 10px;
}
.up h5{
	margin: 0;
	font-size: 15px;
	font-weight: 300;
}
.switch{	
    padding: 0;
}
.switch label{
	float: right;
	border: none !important;
	color: #767676;
	padding: 0;
	font-size: 10px;
	background-color: transparent;
}
.video-sugg{
	padding: 0;
}
.sugg-list{
	list-style-type: none;
	clear: both;
	margin: 0;
	margin-bottom: 15px !important;
}
.sugg-list:last-child{
	margin-bottom: 0;
}
.sugg-head1{
	font-weight: bold;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-top: 0;
}
.video-image {
    float: left;
    margin-right: 3%;
    width: 43%;
    /*height: 90px;*/
    overflow: hidden;
}
.video-image img{
	width: 100%;
	min-height: 100%;
}
.sugg-head {
    float: left;
    width: 54%;
}
.sugg-head a:hover{
	color: #337ab7;
}
.sugg-head h5{
	margin: 0;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}
.sugg-title{
	margin: 0px 0px 3px;
	font-weight: 600;
}
.sugg-description p{
	margin: 0px;
	padding: 0px;
	font-size: 9px;
	color: rgb(75, 70, 70);


}
.time p{
	margin: 0;
	font-size: 11px;
}
.slide{
	border-bottom: 1px solid #b8b8b8;
	margin-bottom: 10px;
}
.profile-image{
	width: 37px;
    height: 37px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image img{
	width: 100%;
    min-height: 100%;
}
.profile-button button{
	padding: 0;
}
.profile-button .btn-default{
	border-color: transparent !important;
}
.profile-button .btn-default:hover{
	color: #333;
	background-color:transparent;
}
.profile-button .btn-default:focus{
	color: #333;
	background-color:transparent;
	box-shadow: none;
}
.profile-button .dropdown-menu{
	left: -105px;
	font-size: 12px;
	min-width: 120px;
}
.profile-button .open > .dropdown-toggle.btn-default{
	background-color: transparent;

}
.profile-button .btn:focus {
    outline-color: transparent;
    outline-offset: 0;
}
.no-margin-top{
	margin-top: 0 !important;
}




.top-comment .btn{
	padding: 5px 8px;
	font-size: 12px;
}
.top-comment .btn-default{
	border-radius: 3px;
	background-color: #f8f8f8;
}
.top-comment .btn-default:hover{
	background-color: #f0f0f0;	
}
.display-comhead{
	margin-top: 10px;
	min-height: 50px;
}
.com-image{
	margin-right: 1%;
    width: 9%;
}
.sub-comhead h5{
	margin: 0;
	color: #128ee9;
	margin-right: 5px;
	font-weight: bold;
}
.sub-comhead p{
	margin: 0;
	line-height: 16px;
    font-size: 11px;
    color: #767676;
}
.com-para{
	font-size: 11px !important;
    margin-top: 1px !important;
    color: #767676 !important;
}
.replay{
	margin-top: 5px;
}
.replay a{
	color: #6f6767;
	padding-right: 5px;
}
.replay a i{
	padding-right: 5px;
}
.dispaly-show{
	width: 100%;
    margin-top: 10px;
}
.side-video{
	padding: 0;
}
.up-next{
	background-color: rgb(255, 255, 255);
	/*margin-top: 15px;*/
	padding: 15px;
}
.next-row{
	margin-bottom: 10px;
}
.up h5{
	margin: 0;
	font-size: 15px;
	font-weight: 300;
}
.switch{	
    padding: 0;
}
.switch label{
	float: right;
	border: none !important;
	color: #767676;
	padding: 0;
	font-size: 10px;
	background-color: transparent;
}
.video-sugg{
	padding: 0;
}
.sugg-list{
	list-style-type: none;
	clear: both;
	margin: 0;
	margin-bottom: 15px !important;
}
.sugg-list:last-child{
	margin-bottom: 0;
}
.sugg-head1{
	font-weight: bold;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-top: 0;
}
.video-image {
    float: left;
    margin-right: 3%;
    width: 43%;
    /*height: 90px;*/
    overflow: hidden;
}
.video-image img{
	width: 100%;
	min-height: 100%;
}
.sugg-head {
    float: left;
    width: 54%;
}
.sugg-head a:hover{
	color: #337ab7;
}
.sugg-head h5{
	margin: 0;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}
.sugg-title{
	margin: 0px 0px 3px;
	font-weight: 600;
}
.sugg-description p{
	margin: 0px;
	padding: 0px;
	font-size: 9px;
	color: rgb(75, 70, 70);


}
.time p{
	margin: 0;
	font-size: 11px;
}
.slide{
	border-bottom: 1px solid #b8b8b8;
	margin-bottom: 10px;
}
.profile-image{
	width: 37px;
    height: 37px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image img{
	width: 100%;
    min-height: 100%;
}
.profile-button button{
	padding: 0;
}
.profile-button .btn-default{
	border-color: transparent !important;
}
.profile-button .btn-default:hover{
	color: #333;
	background-color:transparent;
}
.profile-button .btn-default:focus{
	color: #333;
	background-color:transparent;
	box-shadow: none;
}
.profile-button .dropdown-menu{
	left: -105px;
	font-size: 12px;
	min-width: 120px;
}
.profile-button .open > .dropdown-toggle.btn-default{
	background-color: transparent;

}
.profile-button .btn:focus {
    outline-color: transparent;
    outline-offset: 0;
}
.no-margin-top{
	margin-top: 0 !important;
}








/* =========================================================================== */
/* live page */
.live_img
{
    width: 100%;
    padding: 12px;
}
.live_img img{
    width: 100%;
    height: 100%;
}
.chat_box {
    width: 100%;
}
.chat-header {
    color: #fff;
    background: #d9534f;
    padding: 7px 12px 12px 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.chat-content {
    border: 1px solid #ddd;
    position: relative;
}
#chat-box {
    min-height: 325px;
    max-height: 325px;
    overflow-y: auto;
}
.chat_footer {
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.chat_form_input {
    width: 100% !important;
    border-radius: 0 !important;
    font-size: 16px;
    height: 45px !important;
    border-top-color: #ddd !important;
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
}

.form-control {
    background-color: transparent;
    height: 36px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-btn {
    /* position: relative;
    font-size: 0;
    white-space: nowrap; */
    position: absolute;
    right: 0;
    top: 0;
    z-index: 77;
}
.input-group-btn .btn.btn-danger {
    border: 0 !important;
    box-shadow: none !important;
}
.chat_send_btn {
    border-radius: 0 !important;
    background: #d9534f !important;
    width: 45px !important;
    /* height: 100% !important; */
    height: 45px !important;
}



.modal.show .modal-dialog {
    transform: translate(9px,80px);
}




/* =========================================================================== */
/* subscription */
/* .subspt-title
{
    color: black;
    font-weight: 100 !important;
}
.sub-heaing
{
    color: #000;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.sub-heading-sub
{
    color: rgb(73, 73, 73);
    font-size: 12px;
}
.thumbnail
{
    position: relative;
    width: 100%;
}
.caption
{
    position: relative;
}
.subscription-image img{
    position: absolute;
    top: 0;
    left: 0;
}

 */
 .new-subs-card {
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 2px 6px 11px rgba(0,0,0,.1); */
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
    overflow: hidden;
    margin-top: 1.3em;
}

.new-subs-card-img {
    height: 16em;
    width: 100%;
    position: relative;
}

.new-subs-card-title {
    position: absolute;
    height: 16em;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1em;
}

.new-subs-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.new-subs-card-title .amount {
    font-size: 1.6em;
    color: #d9534f;
    margin-top: 12px;
}

.new-subs-card-title .title {
    color: #666 !important;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.new-subs-card-details {
    height: 8em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1em 1em 1em;
    text-align: left;
    font-weight: 100 !important;
}
.subscribe-btn {
    background-color: #d9534f;
    color: #fff;
    padding: .6em;
    font-size: 1.2em;
    text-transform: capitalize;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.invoice1 {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.white-bg {
    background-color: white;
}
.invoice-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 394px;
}
.invoice-overlay {
    background-color: rgba(255,255,255,.8);
    padding: 15px;
    height: 394px;
}

.invoice-desc {
    font-size: 16px;
    margin-top: 15px;
}
.black-clr {
    color: #333 !important;
}
.no-margin {
    margin: 0;
}
.invoice-desc {
    font-size: 16px;
    margin-top: 15px;
}
.spacing1 {
    padding: 15px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.invoice1 form {
    margin-top: 25px;
}
.coupon-code {
    margin-bottom: 20px;
    /* height: 40px; */
}
.black-clr {
    color: #333 !important;
}
.mb-15 {
    margin-bottom: 15px;
}
.radio1 {
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
    /* line-height: 49px; */
    cursor: pointer;
    font-weight: normal;
    color: #999;
}
.radio1 input {
    width: 1px;
    height: 1px;
    /* opacity: 0; */
    display: none;
}
.radio1 input:checked + .outer {
    border: 2px solid #cc181e;
}
.radio1 .outer {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin: 1px 9px 10px 0px;
    border: 2px solid #cc181e;
    border-radius: 50%;
    background-color: #fff;
}
.radio1 input:checked + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.radio1 .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 8px;
    height: 8px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: #cc181e;
    opacity: 0;
}   
.top {
    margin-top: 10px !important;
}
.btn.btn-danger {
    border: 1px solid #d9534f !important;
    transition: .3s all linear;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05);
}

.table>tbody>tr.danger>td, .table>tbody>tr.danger>th, .table>tbody>tr>td.danger, .table>tbody>tr>th.danger, .table>tfoot>tr.danger>td, .table>tfoot>tr.danger>th, .table>tfoot>tr>td.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>thead>tr.danger>th, .table>thead>tr>td.danger, .table>thead>tr>th.danger {
    background-color: #f2dede;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}    

.new-subs-card {
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 2px 6px 11px rgba(0,0,0,.1); */
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
    overflow: hidden;
    margin-top: 1.3em;
}
.new-subs-card-img {
    height: 16em;
    width: 100%;
    position: relative;
}
.new-subs-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
.new-subs-card-title 
{
    position: absolute;
    height: 16em;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1em;
}
.new-subs-card-title .amount {
    font-size: 1.6em;
    color: #d9534f;
}
.active-plan {
    height: 25px !important;
    width: 25px !important;
    float: left;
}
.label.label-info {
    background-color: #2E93E0;
}
.new-subs-card-title .amount .sign {
    font-size: 1em;
    vertical-align: 90%;
}
.new-subs-card-title .amount .cash {
    font-size: 2.5em;
}
.new-subs-card-title .amount .period {
    font-size: 1em;
}
.new-sub-payment-details {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.new-sub-payment-details h4 {
    /* font-size: 1em; */
    color: #999;
    line-height: 1.6;
    font-size: 14px;
}

.new-sub-payment-details .bold-text {
    color: #333;
    font-weight: bold;
}
.subscribe-btn, .subscribe-btn, .subscribe-btn {
    background-color: #c9302c;
    color: #fff !important;
}
.subscribe-btn:hover, .subscribe-btn:active, .subscribe-btn:focus {
    background-color: #c9302c;
    color: #fff !important;
}
.label.label-info {
    background-color: #2E93E0;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 100 !important;
    color: white;
}





/* =========================================================================== */
/* edit profile */
.edit-form {
    /* background-color: #fff; */
    padding: 15px 30px;
    border-radius: 4px;
    margin: 0 auto;
    /* max-width: 500px; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.3);
}


.image-profile {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 50%;
}
.edit-image {
    margin-bottom: 10px;
    position: relative;
}
.image-profile img {
    width: 100%;
    min-height: 100%;
}
.editform-content {
    margin: 0 auto;
}
.editform-content input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    padding: 9px;
}
input[type=file] {
    display: block;
}
.editform-content input {
    border-radius: 2px !important;
    box-shadow: none !important;
    border-color: #b8b8b8 !important;
    font-size: 14px;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 12px;
}
/* .form-control {
    background-color: transparent;
    height: 36px;
} */
.editform-content label{
    font-size: 14px;
    color: rgb(89, 89, 89);
}
.editform-content .form-group {
    margin-bottom: 15px;
}

.new-profile-sec {
    background-color: #f6f6f6;
    border-radius: 4px;
    padding: 1.5em;
    border: 1px solid #ddd;
}
.profile-title
{
    padding: 10px;
}
.profile-title h3
{
    color: rgb(79, 127, 189);
    font-size: 18px;    
    text-align: center;
}
.profile-title h4 i
{
    color: #0077B5;
}
.profile-title h4
{
    color: rgb(19, 18, 18);
    font-size: 14px;    
}
.profile-title p
{
    color: rgb(22, 22, 22);
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.new-profile-left
{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;   
    overflow: hidden;
    border-radius: 200px;
}
.new-profile-left img{
    width: 100%;
    height: 100%;
}
.new-redeem-sec {
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 1.5em;
    border: 1px solid #eee;
    /* height: 26em; */
    margin-bottom: 1.2em;
    margin: 10px;
}

.new-redeem-sec p{
    color: gray;
    font-size: 12px;
}







/* =========================================================================== */
/* channel page */
.history-list {
    margin-top: 10px;
}
.history-list {
    padding: 0;
}
.history-image {
    float: left;
    margin-right: 2%;
    width: 20%;
    max-height: 120px;
    overflow: hidden;
    position: relative;
}
.history-image img {
    width: 100%;
    min-height: 100%;
}
.video_duration {
    background-color: #000;
    opacity: 0.7;
    right: 6px;
    bottom: 6px;
    position: absolute;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
}
.history-title {
    float: left;
    width: 78%;
}
.history-head {
    margin: 0;
    position: relative;
}
.cross-title2 {
    width: 80%;
    float: left;
    text-transform: capitalize;
}
.abt-sec-head h5 {
    color: #333;
    font-weight: 500;
    line-height: 17px;
    padding-top: 30px;
    margin: 0;
}
.history-head h5 a {
    color: #333;
}
.payment_class a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    /* font-family: arial; */
}
.video_views {
    color: #777;
    font-size: 11px;
}
.cross-mark2 {
    width: 20%;
    float: right;
    text-align: right;
    margin-top: 5px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.video-menu {
    color: #333;
    background: transparent;
    border: 0;
    color: #333;
    border: 0;
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
}
.video-menu i {
    vertical-align: -10%;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.description {
    color: #767676;
    margin-top: 3px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 33px;
}
.description p {
    color: #767676;
    margin-top: 3px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 33px;
}


.main-history
{
    margin: 14px 5px;
}


.subscribe_btn {
    border-color: #920607 !important;
    background: #920607 !important;
    border-radius: 4px;
    padding: 8px;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1); */
}

.upload_a a {
    text-decoration: none !important;
    color: #626567 !important;
    text-transform: uppercase;
    font-weight: 100 !important;
    font-size: 12px;
}
.btn-space a {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
}
.st_video_upload_btn {
    border-color: #e1e1e1 !important;
    background: #e1e1e1;
    border-radius: 4px;
    border: solid 1px transparent;
    box-sizing: content-box;
    color: #626567;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    height: 29px;
    line-height: 29px;
    padding: 3px 10px;
    vertical-align: bottom;
    /* margin: 15px 7px 0px 8px; */
}
.st_video_upload_btn {
    border: 0 !important;
    border-radius: 2px !important;
}
.channel-header-profile-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}
.channel-header-profile-image {
    max-height: 100px;
    max-width: 100px;
}
.channel-header-profile-image1 {
    background-size: cover;
    height: 80px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 15px 0 15px 15px;
}




/* =========================================================================== */
/* inner page */
.sugg-head1
{
    font-size: 16px;
}
.video-sugg {
    padding: 0;
}
.sugg-list {
    list-style-type: none;
    clear: both;
    margin: 0;
    margin-bottom: 15px !important;
}
.video-image {
    float: left;
    margin-right: 3%;
    width: 43%;
    /* height: 90px; */
    overflow: hidden;
}
.video-image {
    position: relative;
}
.video-image .video-image-outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sugg-list .video_duration {
    font-size: 9px;
}
.video_duration {
    background-color: #000;
    opacity: 0.7;
    right: 6px;
    bottom: 6px;
    position: absolute;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
}
.sugg-head {
    float: left;
    width: 54%;
}
.suggn-title h5 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 19px;
    text-transform: capitalize;
}
.sugg-head h5 {
    margin: 0;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
.suggn-title a {
    font-weight: normal !important;
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
}
.video_views {
    color: #777;
    font-size: 11px;
}
.video_views a {
    color: #777;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 4px;
}









/* =========================================================================== */
/* subscriber page */
.st_button {
    background: #2E93E0 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-sizing: content-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    height: 29px;
    line-height: 29px;
    vertical-align: bottom;
}
.abt-sec-head.description-create h5 {
    padding: 0;
    margin-top: 15px;
}
.abt-sec-head h5 {
    color: #333;
    font-weight: 500;
    line-height: 17px;
    padding-top: 30px;
    margin: 0;
}
.abt-sec-head h5 {
    line-height: 1.6 !important;
}


/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */
























/*=====================================================================================*/





/*.....................media queiries..................*/

@media (max-width: 575.98px) {
    .stream-heading1 {

        font-size: 15px;
    }

   .stream-offline {
    position: relative;
    bottom: 0px;
}

    .stream-info {

        padding-bottom: 20px !important;
    }

    .stream-heading1 {
        font-size: 14px;
    }
    .stream .stream-chat div {
    font-size: 13px;
    margin-bottom: 5px;
}
 /*---------------------john----------------------------*/
.custom-ul .custom-li {
        position: relative;
        /* float: left; */
        padding: 0px 13px;
        color: #8a8989;
        font-size: 14px;
}
/* .video-time {
    top: 0;
    left: 0;
    padding-left: 30px;
}
 .video-view {
    bottom: 0;
    left: 0;
    padding-left: 28px;
}   
.video-date {
    bottom: 0;
    right: 0;
    padding-right: 40px;
}     */
 .mail-icon {
    font-size: 11px;
}
.view-history h6 {
    color: #777798;
    font-size: 13px;
}
 /*----------------------icon-----------------------------*/
    .smile-text{
        font-size: 12px;
    }
  .video-player .custom-ul {
    position: relative;
    padding-top: 0px;
    width: 100%;
    height: auto;
}  
 .img-video-icon {
    position: absolute;
    bottom: 128px;
    /* text-align: center; */
    /* align-items: center; */
    font-size: 25px;
    color: #fff;
    /* padding-left: 130px; */
    left: 170px;
} 
 .video-icon-text {
    font-size: 13px;
    color: #fff;
    position: absolute;
    bottom: 110px;
    /* padding-left: 113px; */
    left: 152px;
}
    .m-t-15{
        margin-top: 15px;
    }
    /*==================events======================*/
    .share-icon i {
  
        top: -7px;
        color: #f8103d;
}
    /*================chat-box=========================*/
    .chat-typing {
    position: relative;
    width: 100%;
    border-top: 0.5px solid #d3d3d3;
    padding: 20px;
    margin-bottom: 80px;
}
    /*===================live=====================================*/
    .stream-para {
    padding: 10px 0px 0px 20px;
    font-size: 12px;
}
    .guidelines {
    color: #FD2557;
    font-size: 12px;
}
}

@media screen and (max-height: 450px) {
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}